<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>controlador.EditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarServlet</servlet-name>
        <servlet-class>controlador.EliminarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>controlador.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarServlet</servlet-name>
        <servlet-class>controlador.ListarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearServlet</servlet-name>
        <servlet-class>controlador.CrearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelServlet</servlet-name>
        <servlet-class>controlador.ExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>controlador.PDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarServlet</servlet-name>
        <url-pattern>/EliminarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarServlet</servlet-name>
        <url-pattern>/ListarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearServlet</servlet-name>
        <url-pattern>/CrearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelServlet</servlet-name>
        <url-pattern>/ExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/PDFServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
